@page "/form"

<h3>Person Form</h3>

<form method="post" action="/">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br/>
    <label for="dob">Date Of Birth:</label><br>
    <input type="text" id="dob" name="dob"><br>
    <input type="submit" value="Submit">
</form>

@code {

}

